<div class="uni-nav">
  <h2>Username</h2>
  {{!-- change to {{username}} when avalible --}}
  <form id="uni-nav-logout" action="/user/logout" method="post">
    <button type="submit" id="uni-nav-logout">
      <h2>Logout</h2>
    </button>
  </form>

</div>