{{>nav}}
<div class="admin-wrapper">

    <form action="/admin" method="post" class="create-cleaner-wrapper">

    <h2>Skapa en användare</h2>

    <div class="create-cleaner-input">
        <label for="username">Användarnamn:</label>
        <input type="text" name="username" placeholder="Oskar">
    </div>

    <div class="create-cleaner-input">
        <label for="password">Lösenord:</label>
        <input type="password" name="password">
    </div>

     <div class="create-cleaner-input">
        <label for="password">Ange lösenordet igen:</label>
        <input type="password" name="password2">
    </div>

    <div class="create-cleaner-input">
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="example@example.com">
    </div>

    <button type="submit">Spara</button>
    </form>

    <div class="all-cleanings-wrapper ">
        <h2>Alla städningar</h2>
        <ul class="all-cleangings-ul">
            <li class="all-cleangings-li"><a href="#">Tuesday 23/3 <button>Detaljer</button></a></li>
            <li class="all-cleangings-li"><a href="#">Tuesday 23/3 <button>Detaljer</button></a></li>
            <li class="all-cleangings-li"><a href="#">Tuesday 23/3 <button>Detaljer</button></a></li>
        </ul>
    </div>
</div>