{{>nav}}
<div class="admin-wrapper">

    <form action="/" method="post" class="create-cleaner-wrapper">

    <h2>Create a cleaner</h2>

    <div class="create-cleaner-input">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Oskar">
    </div>

    <div class="create-cleaner-input">
        <label for="password">Password:</label>
        <input type="text" name="password" placeholder="pyrobling123!">
    </div>

    <div class="create-cleaner-input">
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="example@example.com">
    </div>

    <button type="submit">Spara</button>
    </form>

    <div class="all-cleanings-wrapper ">
        <h2>All cleanings</h2>
        <ul class="all-cleangings-ul">
            <li class="all-cleangings-li"><a href="#">Tuesday 23/3 <button>Detaljer</button></a></li>
            <li class="all-cleangings-li"><a href="#">Tuesday 23/3 <button>Detaljer</button></a></li>
            <li class="all-cleangings-li"><a href="#">Tuesday 23/3 <button>Detaljer</button></a></li>
        </ul>
    </div>
</div>