<div class="booking-container">
    <h2>Boka en städning</h2>
    <div class="booking-form-container">
        <form class="booking-form" action="/user/booking" method="post">
            <div class="booking-form-wrapper">
                <div class="time-cleanig-type-container">
                    <div class="label-input">
                        <label for="cleaningType">Typ av städning</label>
                        <select name="cleaningType" id="cleaningType" required>
                            <option value="">Städning</option>
                            <option value="basicStädning">Basic Städning</option>
                            <option value="toppStädning">Topp Städning</option>
                            <option value="diamantStädning">Diamant Städning</option>
                            <option value="fönstertvät">Fönstertvät</option>
                        </select>
                    </div>
                    <div class="label-input">
                        <label for="staffId">Välj Städare</label>
                        <select name="staffId" id="staffId">
                            <option value="">Städare</option>
                            {{#each avalibleStaff}}
                            <option value="{{_id}}">{{username}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="label-input">
                    <label for="address">Adress</label>
                    <input type="text" name="address" id="address" required>
                </div>
                <div class="label-input">
                    <label for="zipCode">Postnummer</label>
                    <input type="text" name="zipCode" id="zipCode" required>
                </div>
                <div class="label-input">
                    <label for="zlocation">Ort</label>
                    <input type="text" name="location" id="location" required>
                </div>
                <div class="label-input">
                    <label for="contactPerson">Kontaktperson</label>
                    <input type="text" name="contactPerson" id="contactPerson" required>
                </div>
                <div class="label-input">
                    <label for="contactPhone">Kontaktpersons telefonnummer</label>
                    <input type="tel" name="contactPhone" id="contactPhone" required>
                </div>

                <input type="hidden" name="date" value="{{date}}">
                <input type="hidden" name="customerId" value="{{customerId}}">
                <div class="submit-container">
                    <h3><a class="home" href="/">Tillbaka</a></h3>
                    <input class="submit-button" type="submit" value="Boka">
                </div>

            </div>
        </form>

    </div>

</div>