{{>nav}}

<div class="userpage-container">


<div class="userpage-yourCleanings">
    <h2 id="your-cleanings">Kommande städningar</h2>

    <div class="userpage-links">
        <ul>
            <li><a href="#">Tuesday 23/15 17:00-19:00</a> <button id="userpage-details">Detaljer</button></li>
            <li><a href="#">Tuesday 23/15 17:00-19:00</a> <button id="userpage-details">Detaljer</button></li>
            <li><a href="#">Tuesday 23/15 17:00-19:00</a> <button id="userpage-details">Detaljer</button></li>
        </ul>
    </div>    
</div>



<div class="userpage-cleaningHistory">
    <h2 id="your-oldCleanings">Slutförda städningar</h2>

    <div id="oldcleanings-list">
    <p>Tisdag 23/5 17:00-19:00</p>
    <p>Tisdag 23/5 17:00-19:00</p>
    <p>Tisdag 23/5 17:00-19:00</p>
    
    </div>
</div>
</div>
