{{>nav}}
<div class="staff-admin-info-wrapper">

<div class="staff-admin-user-info">
    <h1 class="staff-admin-info-title">Städning</h1>
      <p>Appleroad 1</p> {{!-- change to {{adress}} --}}
      <p>12345 Dallas</p> {{!-- change to {{area}} --}}
      <p>tisdag 32/3</p> {{!-- change to {{date}} --}}
      <p>Silver städning</p> {{!-- change to {{type}} --}}
    </div>

    <form action="/" method="post">
        <input type="submit" value="Klar">
    </form>

    <div class="admin-staff-info-div">
        <a href="#" class="admin-staff-info-back">Go back</a>
    </div>
</div>