<div class="home-container">
    <h1>StädaFint</h1>
    <div class="home-form-container">
        <h2>Personal Login</h2>
        <form class="home-form" action="/user/staff/login" method="post">
            <div class="home-form-wrapper">
                <div class="label-input">
                    <label for="username">Användarnamn</label>
                    <input type="text" name="username" id="username">
                    <div class="label-input">
                        <label for="password">Lösenord</label>
                        <input type="password" name="password" id="password">
                    </div>
                </div>
                <input class="submit-button" type="submit" value="Logga in">
            </div>
        </form>
    </div>
</div>