{{>nav}}

<div class="userpage-container">


<div class="userpage-booking">
    <h2 id="userpage-booktag">Boka en städning </h2>
    <form>
        <div class="userpage-date">
            <label id="userpage-date">Datum</label>
        </div>
        <input type="date">
    </form>
</div>


<div class="userpage-yourCleanings">
    <h2 id="your-cleanings">Dina städningar</h2>

    <div class="userpage-links">
        <ul>
                {{!-- if städning inte är klar, loopa ut här  --}}
                {{#each userBookings}}
                    <li><a href="#">{{date}}</a> <button id="userpage-details">Detaljer</button></li>
                {{/each}}
        
        </ul>
    </div>    
</div>



<div class="userpage-cleaningHistory">
    <h2 id="your-oldCleanings">Din Städhistorik</h2>

    <div id="oldcleanings-list">
        {{!-- if städning inte är klar, loopa ut här --}}
    {{#each userBookings}}
    {{#if}}
    <p>{{date}}</p>
    {{/each}}
    
    </div>
</div>
</div>
