@use "userpage";
@use "home";
@use "bookingPage";
@use "cleanerpage";

html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #323232;
}

@import "./nav.scss";
@import "./admin.scss";
@import "./staff-admin-info.scss";
